<hello name="{{ name }}"></hello>

<title>Homepage</title>

<h1>
	<font color="#A65734">Homepage by Moringlan</font>
</h1>
<table border=0 width="90%" align="center" cellpadding=20>
	<tr bgcolor="#7E0608">
		<td cospan=3 align="center">
		</td>
	</tr>
  <div>
	<tr>
		<td>The quick brown fox jump over the lazy dog near the bank of the river.&nbsp;The quick brown fox jump over the lazy dog near the bank of the river. The quick brown fox jump over the lazy dog near the bank of the river.</td>
    <td>The quick brown fox jump over the lazy dog near the bank of the river.&nbsp;The quick brown fox jump over the lazy dog near the bank of the river. The quick brown fox jump over the lazy dog near the bank of the river.</td>
	</tr>
<tr>
		<td align="center" colspan="2"><h3>QCC Performing Arts Center</h3>

  </div>
  <tr bgcolor="CD5E21">
   <td colspan=3 align="center"> 

 <a href="../../default.html">HOME</a>&nbsp; &nbsp;|&nbsp;&nbsp;
<a href="../../education.html">EDUCATION</a>&nbsp; &nbsp;|&nbsp;&nbsp;
<a href="../../experience.html">EXPERIENCE</a>&nbsp; &nbsp;|&nbsp;&nbsp;
<a href="../../contact.html">CONTACT</a>&nbsp; &nbsp;|&nbsp;&nbsp;</td>
  </tr>